# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# STM32CubeIDE specific
.metadata/
Debug/
Release/
*.launch
*.elf
*.map
*.hex
*.bin

# Altium Designer (If you upload PCB files)
History/
__Previews/
*.SchDocZip
*.PcbDocZip
*.PrjPcbZip
*.OutJob
*.LOG
*.PrjPcbStructure
